Repository pyslarvt/foreman-packaging, changes with the owners that CODEOWNERS names for each.
All owners: @theforeman/packaging, @theforeman/ansible, @theforeman/atix, @theforeman/bootdisk, @theforeman/cli, @theforeman/discovery, @theforeman/dm-drogeriemarkt, @theforeman/foreman-tasks, @theforeman/foreman_templates, @theforeman/ovirt, @theforeman/proxmox, @theforeman/puppet, @theforeman/remote-execution, @theforeman/salt, @theforeman/webhooks

Update rubygem-connection_pool to 2.5.4
  packages/foreman/rubygem-connection_pool/connection_pool-2.5.3.gem
  packages/foreman/rubygem-connection_pool/connection_pool-2.5.4.gem
  packages/foreman/rubygem-connection_pool/rubygem-connection_pool.spec
Owners: @theforeman/packaging

Update rubygem-sexp_processor to 4.17.4
  packages/foreman/rubygem-sexp_processor/rubygem-sexp_processor.spec
  packages/foreman/rubygem-sexp_processor/sexp_processor-4.17.3.gem
  packages/foreman/rubygem-sexp_processor/sexp_processor-4.17.4.gem
Owners: @theforeman/packaging

Update rubygem-pg to 1.6.2
  packages/foreman/rubygem-pg/pg-1.6.1.gem
  packages/foreman/rubygem-pg/pg-1.6.2.gem
  packages/foreman/rubygem-pg/rubygem-pg.spec
Owners: @theforeman/packaging

Update rubygem-foreman_theme_satellite to 15.3.1
  packages/satellite/rubygem-foreman_theme_satellite/foreman_theme_satellite-15.3.0.gem
  packages/satellite/rubygem-foreman_theme_satellite/foreman_theme_satellite-15.3.1.gem
  packages/satellite/rubygem-foreman_theme_satellite/rubygem-foreman_theme_satellite.spec
Owners: @theforeman/packaging

Update rubygem-sequel to 5.96.0
  packages/foreman/rubygem-sequel/rubygem-sequel.spec
  packages/foreman/rubygem-sequel/sequel-5.95.1.gem
  packages/foreman/rubygem-sequel/sequel-5.96.0.gem
Owners: @theforeman/packaging

Bump nodejs-ace-builds to 1.43.3
  packages/foreman/nodejs-ace-builds/ace-builds-1.43.2.tgz
  packages/foreman/nodejs-ace-builds/ace-builds-1.43.3.tgz
  packages/foreman/nodejs-ace-builds/nodejs-ace-builds.spec
Owners: @theforeman/packaging

Update foreman_scap_client_bash to 0.2.1
  packages/client/foreman_scap_client_bash/foreman_scap_client_bash-0.2.0.tar.gz
  packages/client/foreman_scap_client_bash/foreman_scap_client_bash-0.2.1.tar.gz
  packages/client/foreman_scap_client_bash/foreman_scap_client_bash.spec
Owners: @theforeman/packaging

Update rubygem-foreman_rh_cloud to 13.0.1
  packages/katello/rubygem-foreman_rh_cloud/foreman_rh_cloud-13.0.0.gem
  packages/katello/rubygem-foreman_rh_cloud/foreman_rh_cloud-13.0.1.gem
  packages/katello/rubygem-foreman_rh_cloud/rubygem-foreman_rh_cloud.spec
Owners: @theforeman/packaging

Update rubygem-hammer_cli_foreman_rh_cloud to 1.0.5
  packages/katello/rubygem-hammer_cli_foreman_rh_cloud/hammer_cli_foreman_rh_cloud-1.0.4.gem
  packages/katello/rubygem-hammer_cli_foreman_rh_cloud/hammer_cli_foreman_rh_cloud-1.0.5.gem
  packages/katello/rubygem-hammer_cli_foreman_rh_cloud/rubygem-hammer_cli_foreman_rh_cloud.spec
Owners: @theforeman/packaging

Update rubygem-foreman_maintain to 1.13.2
  packages/foreman/rubygem-foreman_maintain/foreman_maintain-1.13.1.gem
  packages/foreman/rubygem-foreman_maintain/foreman_maintain-1.13.2.gem
  packages/foreman/rubygem-foreman_maintain/rubygem-foreman_maintain.spec
Owners: @theforeman/packaging

Update ruby-foreman-maintain to 1.13.2
  dependencies/bookworm/foreman_maintain/changelog
  dependencies/jammy/foreman_maintain/changelog
Owners: @theforeman/packaging

Update rubygem-foreman_discovery to 26.0.1
  packages/plugins/rubygem-foreman_discovery/foreman_discovery-26.0.0.gem
  packages/plugins/rubygem-foreman_discovery/foreman_discovery-26.0.1.gem
  packages/plugins/rubygem-foreman_discovery/rubygem-foreman_discovery.spec
Owners: @theforeman/packaging

Update ruby-foreman-discovery to 26.0.1
  plugins/ruby-foreman-discovery/debian/changelog
  plugins/ruby-foreman-discovery/debian/gem.list
  plugins/ruby-foreman-discovery/foreman_discovery.rb
Owners: @theforeman/packaging, @theforeman/discovery

Update rubygem-mime-types-data to 3.2025.0902
  packages/foreman/rubygem-mime-types-data/mime-types-data-3.2025.0826.gem
  packages/foreman/rubygem-mime-types-data/mime-types-data-3.2025.0902.gem
  packages/foreman/rubygem-mime-types-data/rubygem-mime-types-data.spec
Owners: @theforeman/packaging

Bump nodejs-babel-core to 7.28.4
  packages/foreman/nodejs-babel-core/browserslist-4.25.2.tgz
  packages/foreman/nodejs-babel-core/browserslist-4.25.4.tgz
  packages/foreman/nodejs-babel-core/caniuse-lite-1.0.30001735.tgz
  packages/foreman/nodejs-babel-core/caniuse-lite-1.0.30001741.tgz
  packages/foreman/nodejs-babel-core/compat-data-7.28.0.tgz
  packages/foreman/nodejs-babel-core/compat-data-7.28.4.tgz
  packages/foreman/nodejs-babel-core/core-7.28.3.tgz
  packages/foreman/nodejs-babel-core/core-7.28.4.tgz
  packages/foreman/nodejs-babel-core/electron-to-chromium-1.5.203.tgz
  packages/foreman/nodejs-babel-core/electron-to-chromium-1.5.214.tgz
  packages/foreman/nodejs-babel-core/helpers-7.28.3.tgz
  packages/foreman/nodejs-babel-core/helpers-7.28.4.tgz
  packages/foreman/nodejs-babel-core/node-releases-2.0.19.tgz
  packages/foreman/nodejs-babel-core/node-releases-2.0.20.tgz
  packages/foreman/nodejs-babel-core/nodejs-babel-core-7.28.3-registry.npmjs.org.tgz
  packages/foreman/nodejs-babel-core/nodejs-babel-core-7.28.4-registry.npmjs.org.tgz
  packages/foreman/nodejs-babel-core/nodejs-babel-core.spec
  packages/foreman/nodejs-babel-core/parser-7.28.3.tgz
  packages/foreman/nodejs-babel-core/parser-7.28.4.tgz
  packages/foreman/nodejs-babel-core/remapping-2.3.0.tgz
  packages/foreman/nodejs-babel-core/remapping-2.3.5.tgz
  packages/foreman/nodejs-babel-core/traverse-7.28.3.tgz
  packages/foreman/nodejs-babel-core/traverse-7.28.4.tgz
  packages/foreman/nodejs-babel-core/types-7.28.2.tgz
  packages/foreman/nodejs-babel-core/types-7.28.4.tgz
Owners: @theforeman/packaging

Drop probing plugins
  comps/comps-foreman-plugins-el9.xml
  package_manifest.yaml
  packages/plugins/rubygem-foreman_probing/foreman_probing-0.0.4.gem
  packages/plugins/rubygem-foreman_probing/rubygem-foreman_probing.spec
  packages/plugins/rubygem-smart-proxy-probing/rubygem-smart-proxy-probing.spec
  packages/plugins/rubygem-smart-proxy-probing/smart-proxy-probing-0.0.4.gem
Owners: @theforeman/packaging

Update ruby-dynflow to 1.9.3
  dependencies/bookworm/dynflow/changelog
  dependencies/jammy/dynflow/changelog
Owners: @theforeman/packaging, @theforeman/foreman-tasks

Update rubygem-foreman_openscap to 11.1.0
  packages/plugins/rubygem-foreman_openscap/foreman_openscap-11.0.2.gem
  packages/plugins/rubygem-foreman_openscap/foreman_openscap-11.1.0.gem
  packages/plugins/rubygem-foreman_openscap/rubygem-foreman_openscap.spec
Owners: @theforeman/packaging

Add fog-opennebula package
  comps/comps-foreman-plugins-el9.xml
  package_manifest.yaml
  packages/plugins/rubygem-fog-opennebula/fog-opennebula-0.0.5.gem
  packages/plugins/rubygem-fog-opennebula/rubygem-fog-opennebula.spec
Owners: @theforeman/packaging

Update ruby-foreman-tasks to 11.0.4
  plugins/ruby-foreman-tasks/debian/changelog
  plugins/ruby-foreman-tasks/debian/gem.list
  plugins/ruby-foreman-tasks/foreman-tasks.rb
Owners: @theforeman/packaging, @theforeman/foreman-tasks

Release foreman_opennebula 4.0.0
  plugins/ruby-foreman-opennebula/debian/changelog
  plugins/ruby-foreman-opennebula/debian/compat
  plugins/ruby-foreman-opennebula/debian/control
  plugins/ruby-foreman-opennebula/debian/copyright
  plugins/ruby-foreman-opennebula/debian/gem.list
  plugins/ruby-foreman-opennebula/debian/install
  plugins/ruby-foreman-opennebula/debian/postinst
  plugins/ruby-foreman-opennebula/debian/rules
  plugins/ruby-foreman-opennebula/debian/source/format
  plugins/ruby-foreman-opennebula/foreman_opennebula.rb
Owners: @theforeman/packaging

CODEOWNERS:

* @theforeman/packaging

# Individual teams below. Please group them and keep them sorted

# ansible
/plugins/*ansible/ @theforeman/packaging @theforeman/ansible
/dependencies/*/*ansible/ @theforeman/packaging @theforeman/ansible

# atix
/plugins/*snapshot-management/ @theforeman/packaging @theforeman/atix

# bootdisk
/plugins/*bootdisk/ @theforeman/packaging @theforeman/bootdisk
/dependencies/*/*bootdisk/ @theforeman/packaging @theforeman/bootdisk

# cli
/dependencies/*/apipie-* @theforeman/packaging @theforeman/cli

# discovery
/plugins/*discovery/ @theforeman/packaging @theforeman/discovery
/dependencies/*/*discovery/ @theforeman/packaging @theforeman/discovery

# dm-drogeriemarkt
/plugins/ruby-foreman-rescue/ @theforeman/packaging @theforeman/dm-drogeriemarkt

# foreman-tasks
/dependencies/*/dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/dependencies/*/hammer_cli_foreman_tasks/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/smart_proxy_dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/ruby-foreman-tasks/ @theforeman/packaging @theforeman/foreman-tasks

# foreman_templates
/plugins/ruby-foreman-templates/ @theforeman/packaging @theforeman/foreman_templates
/dependencies/*/hammer_cli_foreman_templates @theforeman/packaging @theforeman/foreman_templates

# ovirt
/plugins/*ovirt/ @theforeman/packaging @theforeman/ovirt

# proxmox
/plugins/*fog-proxmox/ @theforeman/packaging @theforeman/proxmox

# puppet
/plugins/*puppet/ @theforeman/packaging @theforeman/puppet
/dependencies/*/hammer_cli_foreman_puppet/ @theforeman/packaging @theforeman/puppet

# remote-execution
/plugins/*remote*execution*/ @theforeman/packaging @theforeman/remote-execution
/dependencies/*/*remote_execution*/ @theforeman/packaging @theforeman/remote-execution

# salt
/plugins/*salt/ @theforeman/packaging @theforeman/salt
/dependencies/*/hammer_cli_foreman_salt/ @theforeman/packaging @theforeman/salt

# webhooks
/plugins/ruby-foreman-webhooks/ @theforeman/packaging @theforeman/webhooks
/plugins/smart_proxy_shellhooks/ @theforeman/packaging @theforeman/webhooks
/dependencies/*/hammer_cli_foreman_webhooks/ @theforeman/packaging @theforeman/webhooks
