Repository pyslarvt/foreman-packaging, changes with the owners that CODEOWNERS names for each.
All owners: @theforeman/packaging, @theforeman/ansible, @theforeman/atix, @theforeman/bootdisk, @theforeman/cli, @theforeman/discovery, @theforeman/dm-drogeriemarkt, @theforeman/foreman-tasks, @theforeman/foreman_templates, @theforeman/ovirt, @theforeman/proxmox, @theforeman/puppet, @theforeman/remote-execution, @theforeman/salt, @theforeman/webhooks

CODEOWNERS:

* @theforeman/packaging

# Individual teams below. Please group them and keep them sorted

# ansible
/plugins/*ansible/ @theforeman/packaging @theforeman/ansible
/dependencies/*/*ansible/ @theforeman/packaging @theforeman/ansible

# atix
/plugins/*snapshot-management/ @theforeman/packaging @theforeman/atix

# bootdisk
/plugins/*bootdisk/ @theforeman/packaging @theforeman/bootdisk
/dependencies/*/*bootdisk/ @theforeman/packaging @theforeman/bootdisk

# cli
/dependencies/*/apipie-* @theforeman/packaging @theforeman/cli

# discovery
/plugins/*discovery/ @theforeman/packaging @theforeman/discovery
/dependencies/*/*discovery/ @theforeman/packaging @theforeman/discovery

# dm-drogeriemarkt
/plugins/ruby-foreman-rescue/ @theforeman/packaging @theforeman/dm-drogeriemarkt

# foreman-tasks
/dependencies/*/dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/dependencies/*/hammer_cli_foreman_tasks/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/smart_proxy_dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/ruby-foreman-tasks/ @theforeman/packaging @theforeman/foreman-tasks

# foreman_templates
/plugins/ruby-foreman-templates/ @theforeman/packaging @theforeman/foreman_templates
/dependencies/*/hammer_cli_foreman_templates @theforeman/packaging @theforeman/foreman_templates

# ovirt
/plugins/*ovirt/ @theforeman/packaging @theforeman/ovirt

# proxmox
/plugins/*fog-proxmox/ @theforeman/packaging @theforeman/proxmox

# puppet
/plugins/*puppet/ @theforeman/packaging @theforeman/puppet
/dependencies/*/hammer_cli_foreman_puppet/ @theforeman/packaging @theforeman/puppet

# remote-execution
/plugins/*remote*execution*/ @theforeman/packaging @theforeman/remote-execution
/dependencies/*/*remote_execution*/ @theforeman/packaging @theforeman/remote-execution

# salt
/plugins/*salt/ @theforeman/packaging @theforeman/salt
/dependencies/*/hammer_cli_foreman_salt/ @theforeman/packaging @theforeman/salt

# webhooks
/plugins/ruby-foreman-webhooks/ @theforeman/packaging @theforeman/webhooks
/plugins/smart_proxy_shellhooks/ @theforeman/packaging @theforeman/webhooks
/dependencies/*/hammer_cli_foreman_webhooks/ @theforeman/packaging @theforeman/webhooks

Bump hammer_cli_katello to 1.19
  packages/katello/rubygem-hammer_cli_katello/rubygem-hammer_cli_katello.spec
Owners: @theforeman/packaging

Update rubygem-mime-types-data to 3.2025.0819
  packages/foreman/rubygem-mime-types-data/mime-types-data-3.2025.0812.gem
  packages/foreman/rubygem-mime-types-data/mime-types-data-3.2025.0819.gem
  packages/foreman/rubygem-mime-types-data/rubygem-mime-types-data.spec
Owners: @theforeman/packaging

Update rubygem-foreman_ovirt to 2.0.1
  packages/plugins/rubygem-foreman_ovirt/foreman_ovirt-2.0.0.gem
  packages/plugins/rubygem-foreman_ovirt/foreman_ovirt-2.0.1.gem
  packages/plugins/rubygem-foreman_ovirt/rubygem-foreman_ovirt.spec
Owners: @theforeman/packaging

Add ruby-foreman-ovirt package (DEB)
  plugins/ruby-foreman-ovirt/debian/changelog
  plugins/ruby-foreman-ovirt/debian/control
  plugins/ruby-foreman-ovirt/debian/copyright
  plugins/ruby-foreman-ovirt/debian/gem.list
  plugins/ruby-foreman-ovirt/debian/install
  plugins/ruby-foreman-ovirt/debian/postinst
  plugins/ruby-foreman-ovirt/debian/rules
  plugins/ruby-foreman-ovirt/debian/source/format
  plugins/ruby-foreman-ovirt/debian/upstream/metadata
  plugins/ruby-foreman-ovirt/debian/watch
  plugins/ruby-foreman-ovirt/foreman_ovirt.rb
Owners: @theforeman/packaging, @theforeman/ovirt

Update rubygem-foreman_maintain to 1.13.0
  packages/foreman/rubygem-foreman_maintain/foreman_maintain-1.12.4.gem
  packages/foreman/rubygem-foreman_maintain/foreman_maintain-1.13.0.gem
  packages/foreman/rubygem-foreman_maintain/rubygem-foreman_maintain.spec
Owners: @theforeman/packaging

Update ruby-foreman-maintain to 1.13.0
  dependencies/bookworm/foreman_maintain/changelog
  dependencies/jammy/foreman_maintain/changelog
Owners: @theforeman/packaging

Update rubygem-foreman_rh_cloud to 12.2.4
  packages/katello/rubygem-foreman_rh_cloud/foreman_rh_cloud-12.2.3.gem
  packages/katello/rubygem-foreman_rh_cloud/foreman_rh_cloud-12.2.4.gem
  packages/katello/rubygem-foreman_rh_cloud/rubygem-foreman_rh_cloud.spec
Owners: @theforeman/packaging

Update rubygem-foreman_rh_cloud to 13.0.0
  packages/katello/rubygem-foreman_rh_cloud/foreman_rh_cloud-12.2.4.gem
  packages/katello/rubygem-foreman_rh_cloud/foreman_rh_cloud-13.0.0.gem
  packages/katello/rubygem-foreman_rh_cloud/rubygem-foreman_rh_cloud.spec
Owners: @theforeman/packaging

foreman_ovirt: Fix bundler file for packaging automation
  plugins/ruby-foreman-ovirt/debian/changelog
  plugins/ruby-foreman-ovirt/foreman_ovirt.rb
Owners: @theforeman/packaging, @theforeman/ovirt

Bump nodejs-apollo-client to 3.14.0
  packages/foreman/nodejs-apollo-client/caches-1.0.1.tgz
  packages/foreman/nodejs-apollo-client/client-3.14.0.tgz
  packages/foreman/nodejs-apollo-client/client-3.3.7.tgz
  packages/foreman/nodejs-apollo-client/context-0.5.4.tgz
  packages/foreman/nodejs-apollo-client/context-0.7.4.tgz
  packages/foreman/nodejs-apollo-client/equality-0.3.4.tgz
  packages/foreman/nodejs-apollo-client/equality-0.5.7.tgz
  packages/foreman/nodejs-apollo-client/fast-json-stable-stringify-2.1.0.tgz
  packages/foreman/nodejs-apollo-client/global-this-0.4.4.tgz
  packages/foreman/nodejs-apollo-client/nodejs-apollo-client-3.14.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-apollo-client/nodejs-apollo-client-3.3.7-registry.npmjs.org.tgz
  packages/foreman/nodejs-apollo-client/nodejs-apollo-client.spec
  packages/foreman/nodejs-apollo-client/optimism-0.14.1.tgz
  packages/foreman/nodejs-apollo-client/optimism-0.18.1.tgz
  packages/foreman/nodejs-apollo-client/rehackt-0.1.0.tgz
  packages/foreman/nodejs-apollo-client/symbol-observable-2.0.3.tgz
  packages/foreman/nodejs-apollo-client/symbol-observable-4.0.0.tgz
  packages/foreman/nodejs-apollo-client/trie-0.2.2.tgz
  packages/foreman/nodejs-apollo-client/trie-0.5.0.tgz
  packages/foreman/nodejs-apollo-client/ts-invariant-0.10.3.tgz
  packages/foreman/nodejs-apollo-client/ts-invariant-0.6.2.tgz
  packages/foreman/nodejs-apollo-client/tslib-1.14.1.tgz
  packages/foreman/nodejs-apollo-client/ungap__global-this-0.3.3.tgz
  packages/foreman/nodejs-apollo-client/zen-observable-0.8.7.tgz
  packages/foreman/nodejs-apollo-client/zen-observable-ts-1.2.5.tgz
Owners: @theforeman/packaging

Bump nodejs-react-onclickoutside to 6.13.2
  packages/foreman/nodejs-react-onclickoutside/nodejs-react-onclickoutside.spec
  packages/foreman/nodejs-react-onclickoutside/react-onclickoutside-6.13.2.tgz
  packages/foreman/nodejs-react-onclickoutside/react-onclickoutside-6.6.2.tgz
Owners: @theforeman/packaging

Bump nodejs-react-redux to 7.2.9
  packages/foreman/nodejs-react-redux/csstype-3.1.3.tgz
  packages/foreman/nodejs-react-redux/hoist-non-react-statics-3.3.7.tgz
  packages/foreman/nodejs-react-redux/invariant-2.2.4.tgz
  packages/foreman/nodejs-react-redux/nodejs-react-redux-7.1.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-react-redux/nodejs-react-redux-7.2.9-registry.npmjs.org.tgz
  packages/foreman/nodejs-react-redux/nodejs-react-redux.spec
  packages/foreman/nodejs-react-redux/react-19.1.11.tgz
  packages/foreman/nodejs-react-redux/react-is-17.0.2.tgz
  packages/foreman/nodejs-react-redux/react-redux-7.1.0.tgz
  packages/foreman/nodejs-react-redux/react-redux-7.1.34.tgz
  packages/foreman/nodejs-react-redux/react-redux-7.2.9.tgz
  packages/foreman/nodejs-react-redux/redux-4.2.1.tgz
  packages/foreman/nodejs-react-redux/runtime-7.27.6.tgz
  packages/foreman/nodejs-react-redux/runtime-7.28.3.tgz
Owners: @theforeman/packaging

Bump nodejs-redux-thunk to 2.4.2
  packages/foreman/nodejs-redux-thunk/nodejs-redux-thunk.spec
  packages/foreman/nodejs-redux-thunk/redux-thunk-2.2.0.tgz
  packages/foreman/nodejs-redux-thunk/redux-thunk-2.4.2.tgz
Owners: @theforeman/packaging

Bump nodejs-reduxjs-toolkit to 1.9.7
  packages/foreman/nodejs-reduxjs-toolkit/nodejs-reduxjs-toolkit-1.6.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-reduxjs-toolkit/nodejs-reduxjs-toolkit-1.9.7-registry.npmjs.org.tgz
  packages/foreman/nodejs-reduxjs-toolkit/nodejs-reduxjs-toolkit.spec
  packages/foreman/nodejs-reduxjs-toolkit/runtime-7.27.6.tgz
  packages/foreman/nodejs-reduxjs-toolkit/runtime-7.28.3.tgz
  packages/foreman/nodejs-reduxjs-toolkit/toolkit-1.6.0.tgz
  packages/foreman/nodejs-reduxjs-toolkit/toolkit-1.9.7.tgz
Owners: @theforeman/packaging

Bump nodejs-webcomponents-webcomponentsjs to 2.8.0
  packages/foreman/nodejs-webcomponents-webcomponentsjs/nodejs-webcomponents-webcomponentsjs.spec
  packages/foreman/nodejs-webcomponents-webcomponentsjs/webcomponentsjs-2.2.10.tgz
  packages/foreman/nodejs-webcomponents-webcomponentsjs/webcomponentsjs-2.8.0.tgz
Owners: @theforeman/packaging

Bump nodejs-seamless-immutable to 7.1.4
  packages/foreman/nodejs-seamless-immutable/nodejs-seamless-immutable.spec
  packages/foreman/nodejs-seamless-immutable/seamless-immutable-7.1.2.tgz
  packages/foreman/nodejs-seamless-immutable/seamless-immutable-7.1.4.tgz
Owners: @theforeman/packaging

Update rubygem-foreman_scc_manager to 5.0.3
  packages/katello/rubygem-foreman_scc_manager/foreman_scc_manager-5.0.1.gem
  packages/katello/rubygem-foreman_scc_manager/foreman_scc_manager-5.0.3.gem
  packages/katello/rubygem-foreman_scc_manager/rubygem-foreman_scc_manager.spec
Owners: @theforeman/packaging

Update rubygem-hammer_cli_foreman_scc_manager to 0.4.0
  packages/katello/rubygem-hammer_cli_foreman_scc_manager/hammer_cli_foreman_scc_manager-0.3.0.gem
  packages/katello/rubygem-hammer_cli_foreman_scc_manager/hammer_cli_foreman_scc_manager-0.4.0.gem
  packages/katello/rubygem-hammer_cli_foreman_scc_manager/rubygem-hammer_cli_foreman_scc_manager.spec
Owners: @theforeman/packaging

Update rubygem-mime-types-data to 3.2025.0826
  packages/foreman/rubygem-mime-types-data/mime-types-data-3.2025.0819.gem
  packages/foreman/rubygem-mime-types-data/mime-types-data-3.2025.0826.gem
  packages/foreman/rubygem-mime-types-data/rubygem-mime-types-data.spec
Owners: @theforeman/packaging

Bump nodejs-symbol-observable to 4.0.0
  packages/foreman/nodejs-symbol-observable/nodejs-symbol-observable.spec
  packages/foreman/nodejs-symbol-observable/symbol-observable-1.2.0.tgz
  packages/foreman/nodejs-symbol-observable/symbol-observable-4.0.0.tgz
Owners: @theforeman/packaging

Bump nodejs-ace-builds to 1.43.2
  packages/foreman/nodejs-ace-builds/ace-builds-1.4.13.tgz
  packages/foreman/nodejs-ace-builds/ace-builds-1.43.2.tgz
  packages/foreman/nodejs-ace-builds/nodejs-ace-builds.spec
Owners: @theforeman/packaging

Bump nodejs-prop-types to 15.8.1
  packages/foreman/nodejs-prop-types/asap-2.0.6.tgz
  packages/foreman/nodejs-prop-types/core-js-1.2.7.tgz
  packages/foreman/nodejs-prop-types/encoding-0.1.13.tgz
  packages/foreman/nodejs-prop-types/fbjs-0.8.18.tgz
  packages/foreman/nodejs-prop-types/iconv-lite-0.6.3.tgz
  packages/foreman/nodejs-prop-types/is-stream-1.1.0.tgz
  packages/foreman/nodejs-prop-types/isomorphic-fetch-2.2.1.tgz
  packages/foreman/nodejs-prop-types/node-fetch-1.7.3.tgz
  packages/foreman/nodejs-prop-types/nodejs-prop-types-15.6.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-prop-types/nodejs-prop-types-15.8.1-registry.npmjs.org.tgz
  packages/foreman/nodejs-prop-types/nodejs-prop-types.spec
  packages/foreman/nodejs-prop-types/promise-7.3.1.tgz
  packages/foreman/nodejs-prop-types/prop-types-15.6.0.tgz
  packages/foreman/nodejs-prop-types/prop-types-15.8.1.tgz
  packages/foreman/nodejs-prop-types/react-is-16.13.1.tgz
  packages/foreman/nodejs-prop-types/safer-buffer-2.1.2.tgz
  packages/foreman/nodejs-prop-types/setimmediate-1.0.5.tgz
  packages/foreman/nodejs-prop-types/ua-parser-js-0.7.40.tgz
  packages/foreman/nodejs-prop-types/whatwg-fetch-3.6.20.tgz
Owners: @theforeman/packaging

Bump nodejs-patternfly-react-tokens to 5.4.1
  packages/foreman/nodejs-patternfly-react-tokens/nodejs-patternfly-react-tokens.spec
  packages/foreman/nodejs-patternfly-react-tokens/react-tokens-5.2.0.tgz
  packages/foreman/nodejs-patternfly-react-tokens/react-tokens-5.4.1.tgz
Owners: @theforeman/packaging

Bump nodejs-classnames to 2.5.1
  packages/foreman/nodejs-classnames/classnames-2.2.5.tgz
  packages/foreman/nodejs-classnames/classnames-2.5.1.tgz
  packages/foreman/nodejs-classnames/nodejs-classnames.spec
Owners: @theforeman/packaging

Bump nodejs-rc-input-number to 6.2.0
  packages/foreman/nodejs-rc-input-number/nodejs-rc-input-number-6.0.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-rc-input-number/nodejs-rc-input-number-6.2.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-rc-input-number/nodejs-rc-input-number.spec
  packages/foreman/nodejs-rc-input-number/rc-input-number-6.0.0.tgz
  packages/foreman/nodejs-rc-input-number/rc-input-number-6.2.0.tgz
  packages/foreman/nodejs-rc-input-number/runtime-7.27.6.tgz
  packages/foreman/nodejs-rc-input-number/runtime-7.28.3.tgz
Owners: @theforeman/packaging

Update rubygem-foreman_remote_execution to 16.2.0 (#12417)
  packages/plugins/rubygem-foreman_remote_execution/foreman_remote_execution-16.1.0.gem
  packages/plugins/rubygem-foreman_remote_execution/foreman_remote_execution-16.2.0.gem
  packages/plugins/rubygem-foreman_remote_execution/rubygem-foreman_remote_execution.spec
Owners: @theforeman/packaging

Update ruby-foreman-remote-execution to 16.2.0
  plugins/ruby-foreman-remote-execution/debian/changelog
  plugins/ruby-foreman-remote-execution/debian/gem.list
  plugins/ruby-foreman-remote-execution/foreman_remote_execution.rb
Owners: @theforeman/packaging, @theforeman/remote-execution

Revert "Bump nodejs-symbol-observable to 4.0.0"
  packages/foreman/nodejs-symbol-observable/nodejs-symbol-observable.spec
  packages/foreman/nodejs-symbol-observable/symbol-observable-1.2.0.tgz
  packages/foreman/nodejs-symbol-observable/symbol-observable-4.0.0.tgz
Owners: @theforeman/packaging

Bump nodejs-react-router-dom to 5.3.4
  packages/foreman/nodejs-react-router-dom/mini-create-react-context-0.3.3.tgz
  packages/foreman/nodejs-react-router-dom/nodejs-react-router-dom-5.1.2-registry.npmjs.org.tgz
  packages/foreman/nodejs-react-router-dom/nodejs-react-router-dom-5.3.4-registry.npmjs.org.tgz
  packages/foreman/nodejs-react-router-dom/nodejs-react-router-dom.spec
  packages/foreman/nodejs-react-router-dom/react-router-5.1.2.tgz
  packages/foreman/nodejs-react-router-dom/react-router-5.3.4.tgz
  packages/foreman/nodejs-react-router-dom/react-router-dom-5.1.2.tgz
  packages/foreman/nodejs-react-router-dom/react-router-dom-5.3.4.tgz
  packages/foreman/nodejs-react-router-dom/runtime-7.27.6.tgz
  packages/foreman/nodejs-react-router-dom/runtime-7.28.3.tgz
Owners: @theforeman/packaging

Bump nodejs-react-dom to 16.14.0
  packages/foreman/nodejs-react-dom/nodejs-react-dom-16.14.0-registry.npmjs.org.tgz
  packages/foreman/nodejs-react-dom/nodejs-react-dom-16.8.1-registry.npmjs.org.tgz
  packages/foreman/nodejs-react-dom/nodejs-react-dom.spec
  packages/foreman/nodejs-react-dom/react-dom-16.14.0.tgz
  packages/foreman/nodejs-react-dom/react-dom-16.8.1.tgz
  packages/foreman/nodejs-react-dom/scheduler-0.13.6.tgz
  packages/foreman/nodejs-react-dom/scheduler-0.19.1.tgz
Owners: @theforeman/packaging

Bump nodejs-patternfly-react-core to 5.4.14
  packages/foreman/nodejs-patternfly-react-core/focus-trap-7.5.2.tgz
  packages/foreman/nodejs-patternfly-react-core/focus-trap-7.6.2.tgz
  packages/foreman/nodejs-patternfly-react-core/nodejs-patternfly-react-core.spec
  packages/foreman/nodejs-patternfly-react-core/react-core-5.2.0.tgz
  packages/foreman/nodejs-patternfly-react-core/react-core-5.4.14.tgz
Owners: @theforeman/packaging

Bump nodejs-react-debounce-input to 3.3.0
  packages/foreman/nodejs-react-debounce-input/nodejs-react-debounce-input.spec
  packages/foreman/nodejs-react-debounce-input/react-debounce-input-3.2.0.tgz
  packages/foreman/nodejs-react-debounce-input/react-debounce-input-3.3.0.tgz
Owners: @theforeman/packaging

Bump nodejs-patternfly-react-table to 5.4.16
  packages/foreman/nodejs-patternfly-react-table/nodejs-patternfly-react-table.spec
  packages/foreman/nodejs-patternfly-react-table/react-table-5.2.0.tgz
  packages/foreman/nodejs-patternfly-react-table/react-table-5.4.16.tgz
Owners: @theforeman/packaging

Bump nodejs-jquery-ujs to 1.2.3
  packages/foreman/nodejs-jquery-ujs/jquery-ujs-1.2.0.tgz
  packages/foreman/nodejs-jquery-ujs/jquery-ujs-1.2.3.tgz
  packages/foreman/nodejs-jquery-ujs/nodejs-jquery-ujs.spec
Owners: @theforeman/packaging

Add how to handle Ruby default gems to README
  README.md
Owners: @theforeman/packaging

Update README.md
  README.md
Owners: @theforeman/packaging

Update README.md
  README.md
Owners: @theforeman/packaging

Add EL10 mock config
  mock/el10.cfg
Owners: @theforeman/packaging

Update rubygem-foreman_maintain to 1.13.1
  packages/foreman/rubygem-foreman_maintain/foreman_maintain-1.13.0.gem
  packages/foreman/rubygem-foreman_maintain/foreman_maintain-1.13.1.gem
  packages/foreman/rubygem-foreman_maintain/rubygem-foreman_maintain.spec
Owners: @theforeman/packaging

Update ruby-foreman-maintain to 1.13.1
  dependencies/bookworm/foreman_maintain/changelog
  dependencies/jammy/foreman_maintain/changelog
Owners: @theforeman/packaging
